body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
}

*:focus{
    outline: none;
}

.app {
    width: 100%;
    heigth: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 500px;
}

.top h1 {
    font-weight: 700;
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: #616161;
    text-align: center;
    font-size: 40px;
}

input {
    border: 0;
    box-shadow: 0 2px 17px rgba(0, 0, 0, 0.2);
    width: 95%;
    max-width: 500px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: #444;
    font-weight: 300;
    font-size: 22px;
    padding: 18px 24px;
    display: table;
    margin: 40px auto 0;
    border-radius: 4px;
}

.results-container{
    width: 95%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    margin: 50px auto 0;
}
.results-container h1 {
    font-weight: 700;
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: #616161;
    text-align: left;
    font-size: 30px;
}
.movie-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}
.movie{
    width: 30%;
    height: auto;
}
.movie img{
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    width: 100%;
    border-radius: 5px;
}
.movie p{
    margin-top: 10px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: #444;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    display: table;
    width: 100%;
}